{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/no-unstable-nested-components": "off",
    "react/no-namespace": "off",
    "react/prefer-exact-props": "off",
    "react/no-arrow-function-lifecycle": "off",
    "react/no-invalid-html-attribute": "off",
    "react/function-component-definition": "off",
    "react/no-unused-class-component-methods": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/jsx-no-undef": "warn",
    "import/no-import-module-exports": "off",
    "import/no-relative-packages": "off",
    "import/prefer-default-export": "off",
    "import/order": "off",
    "arrow-body-style": "off",
    "no-undef": "off",
    "no-unused-vars": "warn",
    "no-param-reassign": "off",
    "prefer-template": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/named": "off"
  }
}
